.navbar{
    background-color: #e29f72;
}

#banner{
    background-image: url("../img/library4k.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 450%;
    width: 100%;
    height: 600px;
}

.panel{
    background-color: rgba(33, 33, 33, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.brand-logo{
    margin-top: 9px;
    margin-left: 16px;
}

.integrants{
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card-avatar{
    display: flex;
    justify-content: center;
}

.avatar{
    border-radius: 100px;
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
}

.section.bg{
    background: #ffb786;
}

.section-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section img{
    height: 300px;
}

#mapa-procesos{
    display: flex;
    justify-content: center;
    text-align: center;
}

#mapa-procesos img{
    width: 900px;
    height: 550px;
}

.carousel img{
    width: 900px;
    height: 650px;
}

.carousel-control-prev, .carousel-control-next{
    opacity: 0.18 !important;
}

@media screen and (max-width: 600px){
    .section img{
        width: 320px !important;
        height: 150px !important;
    }

    #mapa-procesos img{
        width: 100%;
        height: 250px;
    }
    
    iframe{
        width: 340px !important;
        height: 250px !important;
        margin-left: 0;
    }
}

#diagrama-clases{
    display: flex;
    justify-content: center;
    text-align: center;
}
#diagrama-clases img{
    width: 800px;
    height: 500px;
}
#diagrama-objetos{
    display: flex;
    justify-content: center;
    text-align: center;
}
#diagrama-objetos img{
    width: 900px;
    height: 500px;
}