.navbar{
    background-color: #e29f72;
}

#banner{
    background-image: url("../img/library4k.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 450%;
    width: 100%;
    height: 600px;
}

.panel{
    background-color: rgba(33, 33, 33, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.brand-logo{
    margin-top: 9px;
    margin-left: 16px;
}

.integrants{
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card-avatar{
    display: flex;
    justify-content: center;
}

.avatar{
    border-radius: 100px;
    display: flex;
    align-self: center;
    width: 150px;
    height: 150px;
}

.section.bg{
    background: #ffb786;
}

.section-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .section img{
    height: 300px;
} */

#mapa-procesos{
    display: flex;
    justify-content: center;
    text-align: center;
}

#mapa-procesos img{
    width: 60%;
    height: 60%;
}

/* .carousel img{
    width: 900px;
    height: 650px;
} */

#diagrama-clases{
    display: flex;
    justify-content: center;
    text-align: center;
}
#diagrama-clases img{
    width: 60%;
    height: 60%;
}

#diagrama-objetos{
    display: flex;
    justify-content: center;
    text-align: center;
}
#diagrama-objetos img{
    width: 60%;
    height: 60%;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #e9661b;
    border-radius: 6px;
}

.boton_personalizado:hover{
    color:#773574;
    cursor: pointer;
}

.cducontent {
    display: block;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: rgba(22, 153, 228, 0.4);
    filter: invert(100%);
}

.imge{
    padding: 0px;
    width: 100%;
    height: 100%;
}

.tecnicas {
    margin: 0px;
}